Options -Indexes
DirectoryIndex user.php
AddDefaultCharset UTF-8

#RewriteEngine On
#RewriteRule admin admin.php
#RewriteRule user user.php
#RewriteRule reg reg.php
#RewriteRule buyias buyias.php
#RewriteRule passwd passwd.php

#RewriteCond %{SERVER_PORT} !^443$
#RewriteRule ^(.*)$ https://%{SERVER_NAME}/$1 [L,R=303]

#Header always edit Set-Cookie (.*) "$1; SameSite=None; Secure"

<Files "lic.txt">
  Order allow,deny
  Deny from All
</Files>

<Files "mod.txt">
  Order allow,deny
  Deny from All
</Files>
